@media screen and (max-width: 1025px) {
  #container1 #info {
    padding: 35px;
    font-size: 15px;
  }
  #container1 #info #authorInfo {
    width: 60%;
  }
  #container1 #info #authorImg {
    width: 30%;
    height: 200px;
  }
  .container .coat .skills i {
    font-size: 130px;
  }
  .container .coat .project {
    width: 90%;
  }
  .container .coat .project #project1 {
    max-width: 100%;
    height: 170px;
  }
  .container .coat .project #project2 {
    max-width: 100%;
    height: 170px;
  }
}

@media screen and (max-width: 811px) {
  #container1 {
    font-size: 15px;
  }
  #container1 #info {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  #container1 #info #authorInfo {
    width: 50%;
  }
  #container1 #info #authorImg {
    width: 40%;
    height: 270px;
  }
  .container .coat {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .container .coat .skills i {
    font-size: 120px;
  }
  .container .coat .project {
    width: 90%;
  }
  .container .coat .project #project1 {
    max-width: 100%;
    height: 290px;
  }
  .container .coat .project #project2 {
    max-width: 100%;
    height: 290px;
  }
  footer {
    padding: 2px;
    border: 2px solid rgba(0, 0, 50, 0.7);
  }
}

@media screen and (max-width: 601px) {
  header {
    position: relative;
  }
  header .centerContent {
    display: block;
    text-align: center;
  }
  header .centerContent nav {
    margin: 10px;
  }
  header .centerContent nav ul {
    width: 100%;
  }
  header .centerContent nav ul li {
    width: 100%;
    border: 1px solid #bbbbbb;
    padding: 5px;
    margin: 2px;
  }
  #container1 {
    font-size: 12px;
    padding: 10px;
  }
  #container1 #info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px;
  }
  #container1 #info #authorInfo {
    width: 80%;
  }
  #container1 #info #authorImg {
    width: 30%;
    height: 150px;
  }
  .container .coat {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .container .coat .skills {
    margin: 25px;
  }
  .container .coat .skills i {
    font-size: 120px;
  }
  .container .coat .project {
    width: 100%;
    padding: 0px;
    margin: 10px;
  }
  .container .coat .project #project1 {
    max-width: 100%;
    height: 230px;
    background-size: cover;
  }
  .container .coat .project #project2 {
    max-width: 100%;
    height: 230px;
    background-size: cover;
  }
  .container .coat .socials p {
    padding: 5px;
  }
  footer {
    padding: 1px;
    border: 1px solid rgba(0, 0, 50, 0.7);
  }
}

@media screen and (max-width: 451px) {
  header .centerContent nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container1 {
    font-size: 14px;
    padding: 10px;
  }
  #container1 #info {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 20px;
  }
  #container1 #info #authorInfo {
    width: 100%;
  }
  #container1 #info #authorImg {
    margin-top: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 40%;
    height: 150px;
  }
  .container .coat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .container .coat .skills {
    margin: 10px;
    margin-top: 20px;
  }
  .container .coat .skills i {
    font-size: 120px;
  }
  .container .coat .project {
    width: 100%;
    padding: 0px;
    margin: 10px;
  }
  .container .coat .project #project1 {
    max-width: 100%;
    height: 140px;
    background-size: cover;
  }
  .container .coat .project #project2 {
    max-width: 100%;
    height: 140px;
    background-size: cover;
  }
  .container .coat .socials p {
    padding: 5px;
  }
}
/*# sourceMappingURL=responsive.css.map */